.admin-panel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.admin-panel form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.admin-panel input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-panel button {
    padding: 10px;
    background-color: #FFD735;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-panel button:hover {
    background-color: #FFC107; /* Darker shade on hover */
}

.admin-panel h2 {
    margin-bottom: 20px;
    color: #333;
}

.image-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.image-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.image-item button {
    padding: 5px 10px;
    background-color: #FFD735;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.image-item button:hover {
    background-color: #FFC107; /* Darker shade on hover */
}