.book-now-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
    max-width: 150px;
    align-self: center;
}

.book-now-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #222;
}

.book-now-button:active {
    transform: translateY(0);
} 