div.booking-section {
    background-color: #FAED00;
    padding: 80px 20px;
    text-align: center;
}

.booking-content {
    max-width: 600px;
    margin: 0 auto;
    background-color:#FAED00;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.booking-content h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.book-now-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #000;
    color: #FAED00;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.book-now-btn:hover {
    opacity: 0.8;
}