.gallery-page {
    background: #acacac;
}

.gallery-hero {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #FAED00, #FFD700);
    padding: 1rem;
    text-align: center;
}

.gallery-hero h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.gallery-hero p {
    font-size: 1.5rem;
    color: #666;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
    transition-delay: 0.2s;
}

.masonry-grid {
    columns: 4;
    column-gap: 1.5rem;
    padding: 1.5rem;
    margin-left: 200px;
    margin-right: 200px;;
}

.gallery-item {
    break-inside: avoid;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    box-shadow: 
        0 5px 15px rgba(0,0,0,0.1),
        0 15px 35px rgba(0,0,0,0.1);
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-wrapper:hover {
    transform: translateY(-10px);
    box-shadow: 
        0 8px 25px rgba(0,0,0,0.15),
        0 20px 45px rgba(0,0,0,0.1);
}

.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,0.1));
}

.modal img {
    max-width: 90%;
    max-height: 90vh;
    object-fit: contain;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1200px) {
    .masonry-grid {
        columns: 3;
    }
}

@media (max-width: 900px) {
    .masonry-grid {
        columns: 3;
        margin-left: 50px;
        margin-right: 50px;;
    }
    
    .gallery-hero h1 {
        font-size: 3rem;
    }
}

@media (max-width: 600px) {
    .masonry-grid {
        columns: 1;
    }
    
    .gallery-hero h1 {
        font-size: 2.5rem;
    }
}